{% extends 'base.html' %}
{% load static %}
{% block body %}
<section class="home_banner_area">
    <div class="banner_inner">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="banner_content text-center">
              <p class="text-uppercase">
                Finding job is now easy.....
              </p>
              <h2 class="text-uppercase mt-4 mb-5">
                Go ahead and register now....
              </h2>
              <div>
                <a href="{% url 'login'%}" class="primary-btn2 mb-3 mb-sm-0">Login</a>
                <a href="{% url 'signup'%}" class="primary-btn ml-sm-3 ml-0">Signup</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ End Home Banner Area =================-->

  <!--================ Start Feature Area =================-->
  <section class="feature_area section_gap_top">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="main_title">
            <h2 class="mb-3">Awesome Feature</h2>
            <p>
              Replenish man have thing gathering lights yielding shall you
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="single_feature">
            <div class="icon"><span class="flaticon-student"></span></div>
            <div class="desc">
              <h4 class="mt-3 mb-2">Scholarship Facility</h4>
              <p>
                One make creepeth, man bearing theira firmament won't great
                heaven
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="single_feature">
            <div class="icon"><span class="flaticon-book"></span></div>
            <div class="desc">
              <h4 class="mt-3 mb-2">Sell Online Course</h4>
              <p>
                One make creepeth, man bearing theira firmament won't great
                heaven
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="single_feature">
            <div class="icon"><span class="flaticon-earth"></span></div>
            <div class="desc">
              <h4 class="mt-3 mb-2">Global Certification</h4>
              <p>
                One make creepeth, man bearing theira firmament won't great
                heaven
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ End Feature Area =================-->

  <!--================ Start Popular TESTS SHOW Area =================-->
  <div class="popular_courses">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="main_title">
            <h2 class="mb-3">Posts that are currently vacant......</h2>
            <p>
              Apply asap......
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- single course -->
        
        <div class="col-lg-12">
          <div class="owl-carousel active_course">
            {% for Quiz in Quizes %}
            <div class="single_course">
              <div class="course_head">
                <img class="img-fluid" src={{Quiz.owner.image.url}} alt={{Quiz.owner.image.url}} />
              </div>
              <div class="course_content">
                <span class="price">{{Quiz.ctc}}lpa</span>
                <span class="tag mb-4 d-inline-block">{{Quiz.subject}}</span>
                <h4 class="mb-3">
                  <a href="course-details.html">{{Quiz.name}}</a>
                </h4>
                <p>
                  {{Quiz.owner.about}}
                </p>
                <div
                  class="course_meta d-flex justify-content-lg-between align-items-lg-center flex-lg-row flex-column mt-4"
                >
                  <div class="authr_meta">
                    <img src="{% static 'img/courses/author1.png' %}" alt="" />
                    <span class="d-inline-block ml-2">{{Quiz.owner}}</span>
                  </div>
                  <div class="mt-lg-0 mt-3">
                    <span class="meta_info mr-4">
                      <a href="#"> <i class="ti-user mr-2"></i>{{Quiz.posts}}</a>
                    </span>
                    
                  </div>
                </div>
              </div>
            </div>

            
            {% endfor %}
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <!--================ End Popular TESTS SHOW Area =================-->

  <!--================ Start Registration Area =================-->
  <div class="section_gap registration_area">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7">
          <div class="row clock_sec clockdiv" id="clockdiv">
            <div class="col-lg-12">
              <h1 class="mb-3">Login Now</h1>
              <p>
                There is a moment in the life of any aspiring astronomer that
                it is time to buy that first telescope. It’s exciting to think
                about setting up your own viewing station.
              </p>
            </div>
            
          </div>
        </div>
        <div class="col-lg-4 offset-lg-1">
          <div class="register_form">
            <h3>Login now....</h3>
            <p>Many companies are waiting to see you....</p>
            <form action="{% url 'login'%}" method='POST'>
              {% csrf_token %}
              <div class="row">
                <div class="col-lg-12 form_group">
                  <input
                    name="username"
                    placeholder="Your userame"
                    required=""
                    type="text"
                  />
                  <input
                    name="password"
                    placeholder="Your Phone Number"
                    required=True
                    type="password"
                  />
                  
                </div>
                <div class="col-lg-12 text-center">
                  <button class="primary-btn">Login</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--================ End Registration Area =================-->

  <!--================ Start top packages Area =================-->
  <section class="trainer_area section_gap_top">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="main_title">
            <h2 class="mb-3">Top packages...</h2>
            <p>
              companies that are providing top packages
            </p>
          </div>
        </div>
      </div>
      {% for Quiz in Quizes %}
      {% if Quiz.ctc > 4 %}
      <div class="row justify-content-center d-flex align-items-center">
        <div class="col-lg-3 col-md-6 col-sm-12 single-trainer">
          <div class="thumb d-flex justify-content-sm-center">
            <img class="img-fluid" src={{Quiz.owner.image.url}} alt="" />
          </div>
          <div class="meta-text text-sm-center">
            <h4>{{Quiz.name}}</h4>
            <p class="designation">{{Quiz.owner.username}}</p>
            <div class="mb-4">
              <p>
                CTC: {{Quiz.ctc}}LPA <br/>
                {{Quiz.owner.about}}<br />
                <button class = "btn btn-primary" >know more..</button>
              </p>
            </div>
            
          </div>
        </div>

        

        
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </section>
  <!--================ End top packages Area =================-->


  <!--================ Start companies Area =================-->
  <div class="testimonial_area section_gap">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="main_title">
            <h2 class="mb-3">Companies registered with us....</h2>
            <p>
              Companies that are using our services for recruiting students....
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="testi_slider owl-carousel">
            {% for company in companies %}
          <div class="testi_item">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <img src={{company.image.url}} alt="" />
              </div>
              <div class="col-lg-8">
                <div class="testi_text">
                  <h4>{{company.username}}</h4>
                  <p>
                    {{company.about}}
                  </p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
  <!--================ End companies Area =================-->

{% endblock %}