{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
<!--================Home Banner Area =================-->
<section class="home_banner_area">
   <div class="banner_inner">
     <div class="container">
       <div class="row">
         <div class="col-lg-12">
           <div class="banner_content text-center">
             
             <h2 class="text-uppercase mt-4 mb-5">
               Enter some aditional details............
             </h2>
             
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
    <div class='container' style= 'margin-top:60px'>
        {% if user.is_authenticated %}
    {% if request.user.is_student %}
    {% if request.user.has_details%}
        <p>you are already have your details,<a href={% url 'home' %}>click here to view site</a></p>
        {% else %}
        <form method = 'POST' action = '' >
            {% csrf_token %}
            {{form|crispy}}
            <input type='submit' class="btn btn-primary " value = "Submit"/>
    </form>
        
    
    <form>
        {% csrf_token %}
    </form>
    {% endif %}
    {%else%}
    <p>you need to login as a student first</p>
    {% endif %}
    {% else %}
    <p>you need to login first</p>
    {% endif %}
</div>
{% endblock %}