{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
<!--================Home Banner Area =================-->
<section class="home_banner_area">
   <div class="banner_inner">
     <div class="container">
       <div class="row">
         <div class="col-lg-12">
           <div class="banner_content text-center">
             
             <h2 class="text-uppercase mt-4 mb-5">
              Update your interests........
             </h2>
             
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
    <div class = 'container' style= 'margin-top:60px'>
        {% if user.is_authenticated %}
{% if request.user.is_student %}
{% if request.user.has_details%}
  <h2 class="mb-3">Update your interests</h2>
  <form method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Save changes</button>
    <a href="{% url 'quiz_list' %}" class="btn btn-outline-danger">cancel</a>
  </form>

    {% endif %}
    {%else%}
    <p>you need to login as a student first</p>
    {% endif %}
    {% else %}
    <p>you need to login first</p>
    {% endif %}
    </div>
    
<div style = "margin-bottom: 50px;"> </div>

    
   {% endblock %}