{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}
{% if request.user == object or request.user.is_company%}

<section class="course_details_area section_gap">
  
    <div class="container">
      <aside class="single_sidebar_widget author_widget text-center" style = "justify-content:center">
        <img class="author_img rounded-circle" style = "width:20%; justify-content:center" src={{object.image.url}} alt={{object.image.url}}>
        <h2 class="text-uppercase mt-4 mb-5">
          {{object.first_name}} {{object.last_name}}
        </h2>
        </aside>
      <div class="row">
          <div class="col-lg-8 course_details_left">
    <div class="content_wrapper">

        <h4 class="title">Username</h4>
      <div class="content">
          {{object.username}}
          
      </div>
      <h4 class="title">About</h4>
      <div class="content">
          {{user.about}}
          
      </div>

      <h4 class="title">Email</h4>
      <div class="content">
          {{object.email}}
          
      </div>

      <h4 class="title">Taken Quizzes</h4>
      <div class="content">
          
          
          <table class="table table-primary">
            <thead>
              <tr>
                
                <th scope="col">Given Quizzes</th>
                <th scope="col">Score</th>
                
              </tr>
            </thead>
            <tbody>
                {% for quizz in taken_Quiz %}
              <tr>
                
                <td>{{quizz.quiz.name}}</td>
                <td>{{quizz.score}}</td>
                
              </tr>
              {% empty %}
              <tr>
                
                <td>student has not given any test yet...</td>
                
                
              </tr>
              {% endfor %}
              
             
            </tbody>
          </table>
          
      </div>

      <h4 class="title">Adhar number</h4>
      <div class="content">
          {{student.AdharNumber}}
          
      </div>
      <br />
      
      
      <div class = "content text-center">
        {% if request.user.pk == user.pk %}
        <button type="button" style = "border-radius: 20px;" class="btn btn-success " data-toggle="modal" data-target="#exampleModal">
        <i class="fa fa-edit " style="font-size:24px"></i> Update Profile...
      </button>
      {% else %}
      <a href="mailto:{{object.email}}" class="genric-btn info primary circle arrow">Send him a mail <i class="fa fa-paper-plane" style="font-size:24px;margin-left:5px"></i></a>
      </div>
      {% endif %}
</div>
      
</div>

      
      
      </div>
      </div>
    </section>
{% else %}

    <section class="home_banner_area">
        <div class="banner_inner">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="banner_content text-center">
                  
                  <h2 class="text-uppercase mt-4 mb-5">
                   this ppage is not ment for you...
                  </h2>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

{% endif %}
{% if request.user.pk == user.pk %}
<div class = "container">
 <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update details here..</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST"  >
          {% csrf_token %}
        {{form|crispy}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <input type="submit" class="btn btn-success">
      </form>
      </div>
    </div>
  </div>
</div>
  </div>
  {% endif %}
{% endblock %}