{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
<!--================Home Banner Area =================-->
<section class="home_banner_area">
    <div class="banner_inner">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="banner_content text-center">
              
              <h2 class="text-uppercase mt-4 mb-5">
                  {% if form %}
                please enter the password you want to set....
                {% else %}
                Invalid Link
                {% endif %}
              </h2>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
   {% if form %}
     <div class='container' style= 'margin-top:60px'>
     
 
 
 


 <div class="row ">
   <div class="col-md-12 col-sm-12 col-12 ">
    
    
     <form method="post" novalidate>
       {% csrf_token %}
       {{ form|crispy }}
       <button type="submit" class="btn btn-primary">set password</button>
       
       </form>
       
    
   </div>
 </div>
 <div style = "margin-bottom: 50px;"> </div>
 
 </div>
 {% endif %}
{% endblock %}

